JWT_SECRET=your_jwt_secret_key
PORT=3001


DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
NODE_ENV=development

# SMTP Configuration for Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_SERVICE=gmail
SMTP_USER=mongsolomon@gmail.com
SMTP_PASS=floaihejvhlevrhg